<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <title>Admin - User page</title>
</head>

<body>

    <div th:replace="index :: nav"></div>

    <div class="container">
        <h1 class="text-center">Handle User</h1>
        
        <!-- Update Success block -->
        <div class="col-md-6 offset-md-3" th:if="${param.updated}">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <th:block th:text="${'Update the user successfully'}">
                </th:block>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

        <!-- Delete Success block -->
        <div class="col-md-6 offset-md-3" th:if="${param.deleted}">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <th:block th:text="${'Delete the user successfully'}">
                </th:block>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

        <div class="col-md-10 offset-md-1">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <th th:text="${user.id}" scope="row">1</th>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.email}"></td>
                        <td>
                            <form th:data-book="${user.username}" class="d-inline form-delete" th:action="@{/admin/user/{id}(id = ${user.id})}" method="post">
                                <input class="btn btn-sm btn-danger" type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="6">Footer</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-10 offset-md-1">
            <a th:href="@{/admin}">Back</a>
        </div>
    </div>

    <div class="d-flex flex-row justify-content-center align-items-center">
        <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
    </div>




    <script>
        const deleteForms = document.querySelectorAll(".form-delete");
        deleteForms.forEach(form => {
            form.addEventListener("submit", (event) => {
                event.preventDefault();

                const isConfirm = confirm(`Are you sure to delete ${form.dataset.book} user`);
                                
                if(isConfirm) {
                    form.submit();
                }
            });
        });
    </script>



    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>