<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access - Denied</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>

<body>
    <div class="container mt-2">
        <div>
            <!-- Error block -->
                <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                    <h5>You not have permission to view this page</h5>
                </div>

            <p><b>New User?</b> <a th:href="@{/registration}">Registration here</a>
            </p>
            <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
        </div>
    </div>




    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>