<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <title>Borrow list</title>
</head>

<body>

    <div th:replace="index :: nav"></div>

    <div class="container">
        <h1 class="text-center">Borrow list</h1>

        <!-- Update Success block -->
        <div class="col-md-6 offset-md-3" th:if="${param.success}">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <th:block th:text="${'Borrow successfully'}">
                </th:block>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

        <!-- Delete Success block -->
        <div class="col-md-6 offset-md-3" th:if="${param.failed}">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <th:block th:text="${'Could not borrow the book you must return first'}">
                </th:block>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

        <div class="col-md-10 offset-md-1">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#Borrow Id</th>
                        <th scope="col">Book Name</th>
                        <th scope="col">Borrow Date *(วันที่ยืม)</th>
                        <th scope="col">Due Date *(วันที่ต้องคืน)</th>
                        <th scope="col">Return Date *(วันที่คืน)</th>
                        <th scope="col">Status *(สถานะการคืน)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="b : ${borrows}">
                        <th scope="row" th:text="${b.id}"></th>
                        <td th:text="${b.book.name}"></td>
                        <td th:text="${b.borrowDate}"></td>
                        <td th:text="${b.dueDate}"></td>
                        <td th:text="${b.returnDate}"></td>
                        <td th:text="${b.isReturned}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-10 offset-md-1">
            *โปรดบอก <strong>รหัสการยืม/ชื่อผู้ใช้</strong> สำหรับการคืนหนัง
        </div>

        <div class="col-md-10 offset-md-1">
            <a th:href="@{/book}">Book</a>
        </div>
    </div>

    <div class="d-flex flex-row justify-content-center align-items-center">
        <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
    </div>




    <script>
        const deleteForms = document.querySelectorAll(".form-borrow");
        deleteForms.forEach(form => {
            form.addEventListener("submit", (event) => {
                event.preventDefault();

                const isConfirm = confirm(`Are you sure to borrow ${form.dataset.book} book ?`);
                                
                if(isConfirm) {
                    form.submit();
                }
            });
        });
    </script>



    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>