<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <title>Admin - Return book page</title>
</head>

<body>

    <div th:replace="index :: nav"></div>

    <div class="container">
        <h1 class="text-center">Return book</h1>

        <!-- Update Success block -->
        <div class="col-md-6 offset-md-3" th:if="${param.updated}">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <th:block th:text="${'Update the borrow successfully'}">
                </th:block>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

        <!-- Delete Success block -->
        <div class="col-md-6 offset-md-3" th:if="${param.deleted}">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <th:block th:text="${'Delete the borrow successfully'}">
                </th:block>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

        <div class="col-md-10 offset-md-1">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Book Name</th>
                        <th scope="col">Username *(ชื่อผู้ใช้)</th>
                        <th scope="col">Borrow Date *(วันที่ยืม)</th>
                        <th scope="col">Due Date *(วันที่ต้องคืน)</th>
                        <th scope="col">Return Date *(วันที่คืน)</th>
                        <th scope="col">Fine Value *(ค่าปรับ/บาท)</th>
                        <th scope="col">Status *(สถานะการคืน)</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th th:text="${borrow.id}" scope="row">1</th>
                        <td th:text="${borrow.book.name}"></td>
                        <td th:text="${borrow.user.username}"></td>
                        <td th:text="${borrow.borrowDate}"></td>
                        <td th:text="${borrow.dueDate}"></td>
                        <td th:text="${borrow.returnDate}"></td>
                        <td th:text="${fineValue}? fineValue : 'ไมมีค่าปรับ'"></td>
                        <td th:text="${borrow.isReturned}"></td>
                        <td>
                            <form class="d-inline" th:action="@{/admin/return/{id}(id = ${borrow.id})}" method="post">
                                <input type="hidden" name="returnDate" th:value="${borrow.returnDate}">
                                <input class="btn btn-sm btn-warning" type="submit" value="Update">
                            </form>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-10 offset-md-1">
            *อย่าลืม <strong>ตรวจสอบค่าปรับ</strong> ของผู้ใช้
        </div>

        <div class="col-md-10 offset-md-1">
            <a th:href="@{/admin/borrow}">Back</a>
        </div>
    </div>

    <div class="d-flex flex-row justify-content-center align-items-center">
        <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
    </div>




    <script>
        const deleteForms = document.querySelectorAll(".form-delete");
        deleteForms.forEach(form => {
            form.addEventListener("submit", (event) => {
                event.preventDefault();

                const isConfirm = confirm(`Are you sure to delete ${form.dataset.book} borrow`);
                                
                if(isConfirm) {
                    form.submit();
                }
            });
        });
    </script>



    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>